           h1{font-family:Lucida Console; color:rgb(255, 255, 255);}
           h3{font-family:cursive;color:rgb(172, 231, 247);}
           body{background-color:rgb(211, 162, 242); font-family:Lucida Console; color:rgb(255, 255, 255);}
           h2{font-family:fantasy; color:rgb(120, 245, 233);}
           h6{font-family:cursive; font-style:italic;color:rgb(236, 245, 171);}
           ul{color:rgb(255, 255, 255);}
           button{color:rgb(212, 26, 212); background-color:rgb(255, 255, 255);}       
