           h1{font-family:Lucida Console; color:rgb(255, 255, 255);}
           h3{font-family:cursive;color:rgb(172, 231, 247);}
           body{background-color:rgb(234, 201, 248); font-family:Lucida Console; color:rgb(255, 255, 255);}
           h2{font-family:fantasy; color:rgb(205, 252, 218);}
           h6{font-family:cursive; font-style:italic;color:rgb(236, 245, 171);}
           ul{color:rgb(255, 255, 255);}
